*{
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: 'Monserat';
    src: url(Font/montserrat/Montserrat-Light.ttf);
    font-weight: normal;
    font-style: normal;
}

#headerBar{
    background-image:linear-gradient(rgba(0,0,0,0.5),#211063);
    height: 18vh ;
    background-size: cover;
    background-position: center;
    background-color: black;
}

#navbar{
    max-width: 1200px;
    margin: auto;
}

#logoImg{
    width: 200px;
    margin-top: 30px;
    height: auto;
    alt: "LogoImage";
    float: left;
}

#navBtn ul{
    margin-top: 50px;
    float: right;
    list-style-type: none;
}
#navBtn ul li{
    display: inline-block; 
}
#navBtn ul li a{
    text-decoration: none;
    color: #ffffff;
    transition: 0.5s ease;
    padding: 5px 20px;
    font-family: Monserat;
}
#navBtn ul li a:hover{
    background-color: #ffffff;
    color: black;
}
#navBtn ul li:hover .dropDownMenu{
    display: block;
}
#navBtn ul li:hover a{
    color: black;
}

.dropDownMenu{
    display: none;
    position: absolute;
    background-color: white;
}
.dropDownMenu a{
    display: block;
    padding: 10px;
}

/* isi */
.a1{
    margin-top: 20px;
    height: 100vh;
    background-color: #ffe1ed;  
}
.s4{
    padding-top: 40px;
}
.s2{
    border-radius: 40px;
    width: 300px;
    height: 60px;
    background: #fbd043;
}
.s3{
    font-weight: bold;
    padding-top: 5px;
    font-size: 37px;
    font-family: Monserat;
    margin-bottom: 20px;
}
.a2{
    margin-top: 30px;
    border-radius: 20px;
    width: 40%;
}
.a3{
    margin-top: 50px;
    font-family: Monserat;
    text-align: center;
    background-color: white;
    width: 1000px;
    border-radius: 20px;
}
.b1{
    margin-top: 20px;
    height: 100vh;
    background-color: white;
}
.b2{
    padding-top: 40px;
}
.b3{
    border-radius: 40px;
    width: 300px;
    height: 60px;
    background: #b7daeb;
}
.b4{
    font-weight: bold;
    padding-top: 5px;
    font-size: 37px;
    font-family: Monserat;
}
.b5{
    margin-top: 30px;
    border-radius: 20px;
    width: 40%;
}
.b6{
    margin-top: 50px;
    font-family: Monserat;
    text-align: center;
    background-color: #b7daeb;
    width: 1000px;
    border-radius: 20px;
}

/* Footer */
#footerBar{
    margin-top: 10px;
    background-color:black;
    background-image: linear-gradient(#211063,rgba(0,0,0,0.5));
    display: flex;
    justify-content: space-between;
}

#txtCopy{
    margin-left: 50px;
    display: flex;
    color: white;
    float: left;
    padding: 30px;
    font-family: Monserat;
}

#sosmedImg{
    display: flex;
    width: 30%;
    float: right;
    padding: 20px;
    margin-top: 10px;
    
}
.a10{
    color: white;
    margin-left: 200px;
    font-family: Monserat;
}